@import '@globals/styles/mixins.scss';

.container{
    display: flex;
    flex-direction: column;
    gap: 18px;

    .supportText {
        color: #FFF;
        text-align: center;
        font-family: "Metropolis";
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 120% */
        letter-spacing: 1px;
        margin-top: 2%;
    }

    @include phone {
        gap: 10px;
    }
}
