// values are for the screen width 960 and less
.container {
    display: flex;
    flex-direction: column;
    width: 83%;
    padding-top: 5%;
    color: transparent;

    .FAQText {
        color: #FFF;
        font-family: "Metropolis";
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.821px;
        padding-bottom: 36px;
    }
    .questions {
        color: #FFF;
        font-family: "Metropolis";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0.342px;
        background-image: none;
    }

    .answer {
        color: #FFF;
        font-family: "Metropolis";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 25.613px */
        letter-spacing: 0.342px;
        padding-bottom: 3%;
    }
      
    // used for customizable Accordion item
      .itemBtn {
        cursor: pointer;
        background-color: transparent;
        border: none;
        width: 100%;
        text-align: start;
      }

      .itemBtnExpanded {
        background-color: transparent;

        .questionRow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            .dropDownArrow {
                transform: rotate(180deg);
            }
          }
      }
      
      .itemContent {
        transition: height 0.3s ease-in-out;
      }   

      .questionRow{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .dropDownArrow {
            transform: rotate(0deg);
            transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
            transform-origin: center center; 
        }
      }
      
  }
  @media screen and (min-width: 961px) {
    .container {
        width: 39%;

        .FAQText {
            font-size: 3.75rem;
        }

        .questions {
            font-size: 0.9375rem;
            line-height: 39px;

        }

        .answer {
            font-size: 0.9375rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 56%;

        .FAQText {
            font-size: 4rem;
            padding-bottom: 55px;
        }

        .questions {
            font-size: 1rem;
            line-height: 41.6px;
        }

        .answer {
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 1366px) {
    .container {
        width: 56%;

        .FAQText {
            font-size: 5.7rem;
        }

        .questions {
            font-size: 1.07rem;
            line-height: 51.16px;
        }

        .answer {
            font-size: 1.07rem;
        }
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 61%;
        
        .FAQText {
            font-size: 8rem;
        }

        .questions {
            font-size: 1.5rem;
            line-height: 72px;
        }

        .answer {
            font-size: 1.5rem;
        }
    }
}

