.container {
    display: flex;
    flex-direction: column;
    background: #7FB732;
    justify-content: space-between;
    align-items: flex-start;
    // width: 100vw;
    // padding-bottom: 10%;
    // flex-wrap: wrap;
    // padding-left: 13vw;
    padding-right: 13vw;
}

@media screen and (min-width: 1920px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 960px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}