@import '@globals/styles/mixins.scss';

// css styling for the desktop view
.container {
    width: 100%;
    height: calc(435/1440*100vw - 20px);
    display: flex;
    flex-direction: column;
    background: var(--grass-background-dark);

    .footer_grass{
        position: relative;
        top: calc(-1 * (50/1440) *100vw);
        width: 100%;
        aspect-ratio: calc(1440/435);
        z-index: 5;

        > img {
            width: 100%;
        }
    }

    .contentContainer{
        position: relative;
        min-height: 240px;
        max-height: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        top: calc(-1 * (400/1440)* 100vw);
        gap: 10px;

        .hackdavisLogo {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 23.48px;
    
            .hdLogoWhite {
                height: 72px;
                width: 72px;
            }
         }
    }
    
        .socialContent {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 27vw;
            align-items: center;
            
            .brandIcons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: 420px;
                padding-top: 10px;
        
                .singleIcon { // used for most of the brand icons
                    max-width: 30px;
                    width: 59%;
                    color: var(--brand-icon-color);
                }
                .mediumIcon { // used for most of the brand icons
                    max-width: 40px;
                    width: 59%;
                    color: var(--brand-icon-color);
                }
                .discordIcon { // used for most of the brand icons
                    max-width: 40px;
                    width: 59%;
                    color: var(--brand-icon-color);
                }
        
                .fbIcon { // fb icon is larger than the rest so it needs smaller size
                    max-width: 17px;
                    width: 7%;
                    color: var(--brand-icon-color);
                }
            }
            
            .copyright {
                font-family: 'Metropolis';
                color:white;
                font-size: 14px;
            }
        }
        .arrowToTop {
            display: flex;
            flex-direction: row;
            color:white;
            gap: 8px;
            align-items: center;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
    
            &:hover{
                transform: scale(1.1);
            }
    
            .backToTopText {
                font-size: 16px;
                font-family: 'Metropolis';
                font-family: 'Metropolis';
            }
        }
    }    

    


@include phone {
    // css styling for mobile view
.container {
    width: 100%;
    min-height: 188px;
    height: clamp(35vw, calc(35vw + ((100 - 35) * (760px - 100vw)) / (760 - 400)), 80vw);
    //height: 60vw;
    display: flex;
    flex-direction: column;
    background: var(--grass-background-dark);
    //overflow: hidden;

    .footer_grass{
        position: relative;
        top: clamp(-20px, calc(-4px + (-18 * (100vw - 425px) / 335)), -12px);
        width: 100%;
        //aspect-ratio: calc(1440/435);
        z-index: 5;

        > img {
            width: 200vw;
        }
    }

    .contentContainer{
        position: relative;
        width: 100%;
        min-height: 188px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        //padding-top: 5px;
        padding-bottom: 30px;
        gap: 10px;
        z-index: 6;

        .hackdavisLogo {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 23.48px;
            margin-top: 30px;

            .hdLogoWhite {
                height: 72px;
                width: 72px;
            }
            .hdMottoWhite {
                height: 55px;
                width: 176px;
            }

        }

        .socialContent {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 50vw;
            align-items: center;
            
            .brandIcons {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                max-width: 420px;
                padding-top: 10px;
        
                .singleIcon { // used for most of the brand icons
                    max-width: 30px;
                    width: 8%;
                    color: var(--brand-icon-color);
                    
                }

                .mediumIcon { // used for most of the brand icons
                    max-width: 40px;
                    width: 11%;
                    color: var(--brand-icon-color);
                }
                .discordIcon { // used for most of the brand icons
                    max-width: 40px;
                    width: 11%;
                    color: var(--brand-icon-color);
                }
        
                .fbIcon { // fb icon is larger than the rest so it needs smaller size
                    max-width: 17px;
                    width: 5%;
                    color: var(--brand-icon-color);
                }
            }
            
            .copyright {
                font-family: 'Metropolis';
                color:white;
                font-size: 8px;
                margin-top: 25px
            }
        }
        
        .arrowToTop {
            position: absolute;
            top: 10px;
            right: 31px;
            display: flex;
            flex-direction: row;
            color:white;
            gap: 8px;
            align-items: center;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
            font-size: 1px;
            margin-top: 2%;

            &:hover{
                transform: scale(1.1);
            }

            .backToTopText {
                font-size: 12px;
            }
        }
    }
    
}
}
