@import '@globals/styles/mixins.scss';

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.water_sheen{
    width: 70%;
    animation: fadeInOut 5s infinite ease-in-out;
}
@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
.water_base{
    width: 150%;
    position: absolute;
    bottom: -1px;

    > img {
        width: 100%;
    }
}
.water_gradient{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}
.water_transition{
    position: absolute;
    width: 100%;
    top: -5.75%;
    z-index: 10;

    @include desktop {
        top: -4.75%;
    }
    @include sm-desktop {
        top: -4.5%;
    }
    @include tablet {
        top: -3.75%;
    }
}
