@import '@globals/styles/mixins.scss';

.button_container {
    position: relative;
    width: 100%;
    height: 100%;
 
    transition: background 200ms linear, flex-direction 300ms linear;
    color: var(--text-light);
    border-radius: 100px;

    display: flex;
    align-items: center;
    overflow: hidden;

    text-decoration: none;
    
    &:hover {
        cursor: pointer;
        flex-direction: row-reverse;
        background: var(--highlight-yellow);
        color: var(--background-dark);

        .heart_coin_animated {
            right: 0;
            left: unset;
            animation: slide-right 500ms linear 0s 1 normal none;
        }

        h4 {
            transition: all ease;
        }
    }

    h4 {
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: inherit;
    }

    .heart_coin, .heart_coin_animated {
        height: 100%;
        aspect-ratio: 1;
        z-index: 2;
        border-radius: 50%;
        box-shadow: 0px 9px 75px rgba(0, 0, 0, 0.75);
    }
    
    .heart_coin {
        visibility: hidden;
        position: relative;
    }
    
    .heart_coin_animated {
        position: absolute;
        left: 0;
        top: 0;
    }
}

@keyframes slide-right {
    0% {
        left: 0;
    }
    75% {
        left: 70%;
    }
    100% {
        right: 0;
        left: unset;
    }
}

.button_container::after {
    content: "";
    background: var(--background-light);
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}