.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: 1800px;
    height: 1000px;
    z-index: 10;

    /* Layer: Mud Light */
    .mud_light {
        position: absolute;
        width: 100%;
        height: 432px;
        padding-left: -200px;
        padding-right: -400px;
        z-index: 11;
    }
    /* Layer: Mud Dark */
    .mud_dark {
        position: relative;
        width: 100%;
        height: 456px;
        padding-left: -20px;
        padding-right: -200px;
        top: 50px;
        z-index: 12;
    }
}