.container {
    text-align: center;
    // background: linear-gradient(180deg, #2BC0F1 50%, #F1FFA0 100%); //temp background to see white text
    h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Metropolis';
        font-size: 128px;
        font-style: normal;
        font-weight: 800;
    }
    h2 {
        color: #FFF;
        text-align: center;
        font-family: 'Metropolis';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.64px;
    }
    p {
        color: #FFF;
        text-align: center;
        font-family: 'Metropolis';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 48px */
        letter-spacing: 0.64px;
    }
}
