@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #FFF;
  --background-dark: #173A52;

  --foreground-light-gray: #C4C4C4;
  --foreground-dark-gray: #B3B3B3;

  --highlight-blue: #9EE7E5;
  --highlight-yellow: #FFC53D;

  --text-dark: #005271;
  --text-light: #FFF;

  --edge-spacer: 175px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}