@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/TrueType/Metropolis-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/TrueType/Metropolis-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/TrueType/Metropolis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/TrueType/Metropolis-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/TrueType/Metropolis-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/TrueType/Metropolis-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


:root {
  --font-metropolis: 'Metropolis', sans-serif;
  --background-light: #FFF;
  --background-dark: #173A52;

  --foreground-light-gray: #C4C4C4;
  --foreground-dark-gray: #B3B3B3;

  --border-white: #F4F4F4;

  --highlight-blue: #9EE7E5;
  --highlight-yellow: #FFC53D;

  --text-dark: #005271;
  --text-medium: #1589BE;
  --text-light: #FFF;
  --text-yellow: #FFC53D;
  --text-green: #AFD157;
  
  /* Landing Colors */
  --sand-background-dark: #E6BB7B;
  --sand-background-light: #E5C28E;
  --sand-texture: #DFAF67;
  --sky-background: #4DB7D9;
  --sea-background: #123041;
  --water-background: #4DB7D9;
  --water-edge: #2BACD5;
  --grass-background-dark: #7FB732;
  --grass-background-light: #AFD157;
  --card-background: #3A9FC4;
  --sand-text-color: #58452B;

  --navbar-scrolled-background: rgba(4, 102, 101, 0.415);

  /* Spaces */
  --edge-space: 175px;
  --landing-text-space-left: 200px;
  --landing-text-space-right: 120px;

  /* Navbar Styles */
  --navbar-top-spacing: 55px;
  --navbar-height: 50px;
  --navbar-item-spacing: 48px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-metropolis);
}

h1, h2, h3, h4, p {
  font-style: normal;
  line-height: 100%;
  font-weight: 400;
}

h1 {
  font-size: 3rem; //48px in wireframe
}

h2 {
  font-size: 2.5rem; //40px
}

h3 {
  font-size: 2rem; //32px
}

h4 {
  font-size: 1.5rem; //24px
}

p {
  font-size: 1.125rem; //18px
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: var(--highlight-yellow);
}