@import '@globals/styles/mixins.scss';
$padding-x-mobile: 13%;

.window {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
    * {
        flex-shrink: 0;
    }
}

.content_belt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4rem;
    gap: 120px;
    @include phone {
        padding: 0 $padding-x-mobile;
        
    }
}