$button-width: 48px;
$gray-arrow: #929292;
$gray-button: #DBDBDB;
$active-arrow: #123041;
$active-button: #9DE7E5;
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $button-width;
        aspect-ratio: 1;
        border-radius: 50%;
        cursor: pointer;
        padding: 16px;
        color: $gray-arrow;
        background-color: $gray-button;
        cursor: auto;

        &.active {
            color: $active-arrow;
            background-color: $active-button;
            cursor: pointer;
        }

        * {
            height: 100%;
        }
    }
}