.container {
    background-color: black;
    padding: 15%;
    color: white;

    .sealWrapper {
        position: relative;
        width: 100px;
        height: 100px;
        margin-top: 20px;
      }
}

