@import '@globals/styles/mixins.scss';

.container {
    padding: 15% 0%;

    h2 {
        color: white;
        font-weight: 700;
        line-height: 43.546px; /* 111.111% */
        letter-spacing: 0.784px;
        text-align: center;
    }

    .grassContainer{
    position: relative;
    overflow: hidden;
    padding: 3% 0% 10% 0%;
    width: 60%;
    background-image: url('/images/Donate/Grass.svg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: top center; 
    border: 3px red solid;
    height: 100%;
    right: -20px; /* Moves it slightly off-screen */
    top: 50%;
    transform: translateX(-8%);
    justify-content: right;

        .title {
            padding: 5% 0% 0% 20%;
            border: 3px white solid;
            font-weight: 700;
            letter-spacing: 1.5px;
        }

        .children{
            display: flex;
            padding: 0% 0% 0% 20%;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .sealWrapper {
                border: 3px blue solid;
                align-items: center;
                justify-content: center;

                .sealChildren {
                    border: 3px solid black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                .sponsorButton {
                    background: #ffc53d28;
                    transition: background 200ms ease flex-direction 200ms ease;
                    color: #ffc53d;
                    width: fit-content;
                    padding: 14px 20px 15px 60px;
                    border-radius: 100px;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-around;
                    align-items: center;
                    gap: 20px;
                    position: relative;
                    text-decoration: none;
                    transition: all 0.2s ease;
                  
                    &:hover {
                      cursor: pointer;
                      background: #ffc53d;
                      color: #122f40;
                      padding: 14px 60px 15px 20px;
                  
                    //   @include mrwd(991px) {
                    //     padding: 11px 60px 11px 20px;
                    //   }
                  
                      .heartButton {
                        transform: translateX(165px);
                  
                        // @include mrwd(991px) {
                        //   transform: translateX(160px);
                        // }
                      }
                    }
                  }
                  
                  .heartButton {
                    padding: 16px 14px 9px 14px;
                    background: #ffc53d;
                    opacity: 1;
                    border-radius: 100px;
                    left: 0;
                    position: absolute;
                    transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
                    box-shadow: 0px 9px 75px rgba(0, 0, 0, 0.75);
                  
                    // @include mrwd(991px) {
                    //   padding: 11px 9px 6px 10px;
                    // }
                  }
                  
                  .yellowCircle {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #ffc53d;
                    margin-right: 15px;
                  
                    // @include mrwd(991px) {
                    //   display: none;
                    // }
                  }
              }
    
            .cowWrapper {
                border: 3px purple solid;
            }
        }
    }
}

// @include sm-desktop{
//     .container {
//         padding: 15% 0%;
    
//         h2 {
//             color: white;
//             font-weight: 700;
//             line-height: 43.546px; /* 111.111% */
//             letter-spacing: 0.784px;
//             text-align: center;
//         }
    
//         .grassContainer{
//             position: relative;
//             overflow: hidden;
//             padding: 10%;
//             width: 60%;
//             background-image: url('/images/Donate/Grass.svg');
//             background-repeat: no-repeat;
//             background-size: contain; 
//             background-position: top center; 
//             border: 3px red solid;
//             height: 100%;
//             right: -20px; /* Moves it slightly off-screen */
//             top: 50%;
//             transform: translateX(-8%);
    
//             .sealWrapper {
//                 border: 3px blue solid;
//                 position: relative;
//                 width: 100px;
//                 height: 100px;
//                 margin-top: 20px;
//               }
//         }
//     }
// }; 


