.container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 126px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    transition: all 0.4s;
    z-index: 1000;
}

.left {
    padding: 0 38px;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 43px;
    height: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 48px;
    border-radius: 40px;
    border: 1px solid var(--border-white);
    background: rgba(136, 136, 136, 0.50);
    backdrop-filter: blur(2px);
    padding: 16px 48px;

    .link {
        color: var(--text-light);
        font-family: var(--font-metropolis);
        font-weight: 400;
        font-size: 1.125rem;
        letter-spacing: 0.36px;
        line-height: 100%;
        scroll-behavior: smooth;
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-0.25rem);
        }

        &.active {
            font-weight: 700;
        }
    }

    .home.active {
        color: var(--text-dark);
    }

    .about.active {
        color: var(--text-yellow);
    }

    .faq.active {
        color: var(--text-green);
    }
}

.home_links {
    background: rgba(255, 255, 255, 0.50);

    .link {
        color: var(--text-medium);
    }
}

.mlh_banner {
    margin-right: 108px;
    align-self: baseline;
}