@import '@globals/styles/mixins.scss';

.container {
  position: relative;
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  background: linear-gradient(-345deg, #D5FCD1 0.78%, #B2E7DD 21.73%, #76D6E6 63.99%);
}

.text {
  position: relative;
  width: 100%;
}

.water_building_left {
  position: absolute;
  bottom: -56px;
  left: -16px;

  width: 398px;
  aspect-ratio: calc(398 / 220);
  
  @include tablet {
    width: 348px;
  }

  @include phone {
    width: 298px;
  }
}

.water_building_right {
  position: absolute;
  bottom: -56px;
  right: 0;
  
  width: 448px;
  aspect-ratio: calc(448 / 423);
  
  @include sm-desktop {
    width: 398px;
  }

  @include tablet {
    width: 328px;
  }

  @include phone {
    width: 248px;
  }
}
  
/* Layer: Water Semicircle */
.water_semicircle {
  position: relative;
  width: 100%;
  height: 50vh;
  z-index: 10; 
  overflow: hidden; 
  
  > img {
    width: 100%;
  }
}