@import '@globals/styles/mixins.scss';

.container {
    position: relative;
    width: 100%;
    background-color: var(--sand-background-light);
}

.transition {
    position: relative;
    width: 100%;
}

/* Layer: Water Rectangle */
.water_normal {
    position: absolute;
    width: 100%;
    height: 89px;
    top: -39px;
    z-index: 40;
    > img {
        width: 100%;
    }
}

.water_sheen{
    position: absolute;
    width: 100%;
    height: 130px;
    top: -210px;
    z-index: 40;
    > img {
        margin: auto;
        width: 76%;
    }
    @include tablet {
        top: -120px;
    }
    @include phone {
        top: -100px;
        > img {
            width:100%;
        }
    }
    @include sm-phone {
        top: -90px;
        
    }
}

/* Layer: Water Light */
.water_light {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 125px;
    z-index: 30;
    > img {
        width: 100%;
    }
}

/* Layer: Sand Dark */
.sand_dark {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 179px;
    z-index: 20;
    > img {
        width: 100%;
    }
    @include phone {
        top: 5px;
    }
}

/* Layer: Sand Light */
.sand_light {
    position: absolute;
    top: 55px;
    width: 100%;
    height: 196px;
    z-index: 10;
    > img {
        width: 100%;
    }
    @include phone {
        top: 40px;
    }
    @include sm-phone {
        top: 20px;
    }
}

.mascots {
    position: relative;
    width: 75%;
    z-index: 100;
    top: -80px;
    margin: 0 auto;
    @include phone {
        width: 100%;
        top: -60px;
    }
}

.stats {
    position: relative;
    width: 100%;
    margin: -200px 0px 0px;

    @include tablet {
        margin: -150px 0px 0px;
    }

    @include phone {
        margin: -125px 0px 0px;
    }
}

.beach_decoration {
    position: relative;
    width: 100%;
}

.shells {
    position: absolute;
    width: 100%;
    aspect-ratio: calc(1281 / 207);
    padding: 95px;
    @include phone {
        padding: 15px;
        width: 140%;
    }
    @include sm-phone {
        width: 180%;
    }
    > img {
        width: 100%;
    }
}

/* Layer: Mud Light */
.mud_light {
    position: relative;
    margin-top: -50px;
    width: 100%;
    aspect-ratio: calc(1440 / 432);
    z-index: 20;
    img {
        padding-top: 350px;
        width: 100%;
    }
    
    @include desktop {
        margin-top: -50px;
        >img {
            padding-top: 250px;
        }   
    }
    
    @include sm-desktop {
        margin-top: -60px;
        >img {
            padding-top: 200px;
        }   
    }
    
    @include tablet {
        margin-top: -80px;
        >img {
            padding-top: 160px;
        }   
    }

    @include phone {
        margin-top: 10px;
        >img {
            padding-top: 20%;
        }   
    }

    @include sm-phone {
        margin-top: 0px;
        >img {
            padding-top: 30%;
        }   
    }
}
/* Layer: Mud Dark */
.mud_dark {
    position: absolute;
    width: 100%;
    aspect-ratio: calc(1440 / 415);
    bottom: -42px;
    z-index: 30;
    img {
        width: 100%;
    }
    @include phone {
        bottom: -22px;
    }
    @include sm-phone {
        bottom: -18px;
    }
}
.leaves {
    position: absolute;
    width: 105%;
    aspect-ratio: calc(1583 / 380);
    bottom: -245px;
    left: 50%;
  transform: translateX(-50%);
    z-index: 40;
    img {
        position: absolute;
        width: 100%;
    }
    
    @include desktop {
        bottom: -175px;
    }
    @include sm-desktop {
        bottom: -145px;
    }
    @include tablet {
        bottom: -115px;
    }
    @include phone {
        bottom: -75px;
    }
    @include sm-phone {
        bottom: -50px;
    }
}