$progressBarHeight: 12px;
.full_bar {
    position: relative;
    width: 100%;
    height: $progressBarHeight;
    border-radius: calc($progressBarHeight / 2);
    background: #B3B3B3;
}

.handle {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #123041;
    cursor: pointer;
    border-radius: calc($progressBarHeight / 2);
}