@import '@globals/styles/mixins.scss';

.container {
    position: relative;
    //height: calc((940 / 1440) * 87vw);
    height: clamp(440px, 0.565476 * 100vw + 5.71px, 1080px);
    //top: -200px;
    background: var(--sky-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    // z-index: 0;
    overflow: hidden;
    //transform: translateY((940 /(2 * 1440) * 100vw));
    
    @include sm-phone {
        height: 75vw;
        //flex-direction: column;
    }

    @include phone {
        height: 540px;
    }
}
  
.rowTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: calc((328/1440 * 100vw) - 40px);
    z-index: 2;

    @include phone {
        height: 60vw;
    }
} 
  
.rowBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;

    @include phone {
        height: 0px;
    }
}

.vinylRow {
    position: relative;
    display: flex;
    flex-direction: row;

    @include phone {
        width: 200vw;
    }
}

.bigVinyl {
    position: absolute;
    top: 50%;
    left: 50%;
    width: min(calc(940 * 100vw / 1440), 940px);
    aspect-ratio: 1;
    z-index: 1;
    transform-origin: center;
    animation: rotateVinyl 15s linear infinite;
    will-change: transform;

    @supports (-webkit-appearance:none) and (not (-webkit-hyphens:none)) {
        animation: rotateVinylChrome 15s linear infinite;
    }

    @include phone {
        width: calc(939.5px);
        transform-origin: center;
        animation: rotateVinylPhone 15s linear infinite;
    }

    @include sm-phone {
        width: 160vw;
        transform-origin: center;
        animation: rotateVinylsmPhone 15s linear infinite;
    }
}

@keyframes rotateVinyl {
    0% {
        transform: translate(-50%, -65%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -65%) rotate(360deg);
    }
}

@keyframes rotateVinylChrome {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

@keyframes rotateVinylPhone {
    0% {
        transform: translateX(calc(-1 * clamp(9%, -20.455% + 87.273vw, 21%))) translateY(-52%) rotate(0deg);  /* Moved right and down */      // 21% for 540px, 9% for 760px
    }
    100% {
        transform: translateX(calc(-1 * clamp(9%, -20.455% + 87.273vw, 21%))) translateY(-52%) rotate(360deg);
    }
}

@keyframes rotateVinylsmPhone {
    0% {
        transform: translate(-19%, -52%) rotate(0deg);  /* Moved right and down */
    }
    100% {
        transform: translate(-19%, -52%) rotate(360deg);
    }
}

.rowMiddle {
    width: 100%;
    height: calc(248/1440 * 100vw);
    padding-left: calc(74/1440 * 100vw);

    @include phone {
        width: 0px;
        height: 400px;
    }
}

.cloudCenter {
    left: 50%;
    transform: translateX(-1%);
    aspect-ratio: calc(842/248);
    width: calc(842/1440 * 100vw);
    
    > img {
        width: 100%;
        height: 100%;
    }

    @include phone {
        width: 0px;
    }
}
  
.cloudsTopLeft {
    position: relative;
    left: 50%;
    transform: translateX(-125%);

    @include phone {
        width: 100%;
        left: 50%;
        transform: translateX(-90%);
    }
}

.cloudsTopLeft_topLayer {
    // for 1440px, width = 1069, height = 328
    position: relative;
    aspect-ratio: calc(1069/328);
    width: calc(1069/1440 * 100vw);
    top: 40px;
    z-index: 2;

    > img {
        width: 100%;
        height: 100%;   
    }

    @include phone {
        top: 10px;
    }
}

.cloudsTopLeft_bottomLayer {
    // for 1440px, width = 1117, height = 339
    position: relative;
    aspect-ratio: calc(1117/339);
    width: calc(1117/1440 * 100vw);
    z-index: 1;
    top: calc((-1 * 328/1440 * 100vw));
    > img {
        width: 100%;
        height: 100%;
        opacity: calc(5/6);
    }
}

.cloudsTopRight { 
    position: relative;
    left: 50%;
    transform: translateX(-70%);

    @include phone {
        width: 0px;
    }
}
  
.cloudsTopRight_topLayer {
    // for 1440px, width = 1069, height = 328
    position: relative;
    aspect-ratio: calc(1069/328);
    width: calc(1069/1440 * 100vw);
    z-index: 2;
    transform: scaleX(-1);
    top: 37px;

    > img {
        width: 100%;
        height: 100%;
    }
} 

.cloudsTopRight_bottomLayer {
    // for 1440px, width = 1117, height = 339
    position: relative;
    aspect-ratio: calc(1117/339);
    width: calc(1117/1440 * 100vw);
    z-index: 1;
    top: calc((-1 * 328/1440 * 100vw));
    right: 50px;
    transform: scaleX(-1);
    
    > img {
        width: 100%;
        height: 100%;
        opacity: calc(5/6);
    }
}
  
.cloudsBottomLeft{
    flex-direction: column;
    align-items: start;
    left: 50%;
    transform: translateX(-105%);
    width: calc(842/(2*1440) * 100vw);

    @include phone {
        width: 0px;
    }
}
  
.cloudsBottomLeft_topLayer {
    // at 1440px, width = 842, height = 234
    position: relative;
    aspect-ratio: calc(842/234);
    width: calc(842/1440 * 100vw);
    top: 37px;
    z-index: 5;

    > img {
        width: 100%;
        height: 100%;
    }

    @include phone {
        width: 0px;
    }
} 

.cloudsBottomLeft_bottomLayer {
    // at 1440px, width = 842, height = 234
    position: relative;
    aspect-ratio: calc(842/234);
    width: calc(842/1440 * 100vw);
    top: calc((-1 * 234/1440 * 100vw));
    z-index: 1;

    > img {
        width: 100%;
        height: 100%;
    }

    @include phone {
        width: 0px;
    }
}
  
.cloudsBottomRight {
    position: relative;
    left: 50%;
    transform: translateX(-35%);

    @include phone {
        width: 0px;
    }
}

.cloudsBottomRight_topLayer {
    // at 1440px, width = 842, height = 234
    position: relative;
    aspect-ratio: calc(842/234);
    width: calc(842/1440 * 100vw);
    top: 36px;
    transform: scaleX(-1) translateX(-3%);
    z-index: 10;

    > img {
        width: 100%;
        height: 100%;
    }

    @include phone {
        width: 0px;
    }
} 

.cloudsBottomRight_bottomLayer {
    // at 1440px, width = 842, height = 234
    position: relative;
    aspect-ratio: calc(842/234);
    width: calc(842/1440 * 100vw);
    //height: 234px;
    top: calc((-1 * 234/1440 * 100vw));
    z-index: 1;
    
    > img {
        width: 100%;
        height: 100%;
        opacity: 60%;
    }

    @include phone {
        width: 0px;
    }
}