@import '@globals/styles/mixins.scss';

// default 
.container {
    background-color: var(--sea-background);
    // padding: 3% 5% 0% 0%;
    padding-left: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/landing_page/Caustics.svg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: top center; 
    .imagecontainer {
        // border: 3px red solid;

        .bunny {
            width: 100%;
            padding-right: 10%;
        }
    }

    .textcontainer {
        // border: 3px white solid;
        padding: 10% 10% 0% 0%;
        width: 40%;
        flex-direction: column;

        .text {
            font-weight: bold;
            line-height: 1;
            color: var(--text-light);
        }

        .coloredtext {
            font-weight: bold;
            line-height: 1;
            color: var(--highlight-blue);
        }

        p {
            color: var(--text-light);
            padding-top: 1rem;
        }
    }
}

// animations
@keyframes fadeInOut {
    0%, 100% { opacity: 0.2}
    50% { opacity: 1; transform: translateY(0); }
}

.ray {
    // position: absolute;
    width: 100%;
    // top: 0;
    opacity: 1;
    animation: fadeInOut 5s infinite alternate ease-in-out;

    Image {
        display: block;
        pointer-events: none;
    }
}

/* Adding delays to each ray for staggered animation */
.ray:nth-child(1) { animation-delay: 0s; }
.ray:nth-child(2) { animation-delay: 0.5s; }
.ray:nth-child(3) { animation-delay: 1s; }
.ray:nth-child(4) { animation-delay: 1.5s; }

//ray
.rayContainer {
    border: 3px red solid;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    top: 2%;

    .ray1 {
        left: -50px;
    }
}
  

@include sm-desktop {
    .container {
    background-color: var(--sea-background);
    padding: 3% 5% 0% 0%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url('/images/landing_page/Caustics.svg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: top center; 
    .imagecontainer {
        // border: 3px red solid;

        .bunny {
            width: 100%;
            // padding-right: 10%;
        }
    }

    .textcontainer {
        // border: 3px white solid;
        padding: 10% 10% 0% 0%;
        width: 45%;
        flex-direction: column;

        .text {
            font-weight: bold;
            line-height: 1;
            color: var(--text-light);
        }

        .coloredtext {
            font-weight: bold;
            line-height: 1;
            color: var(--highlight-blue);
        }

        p {
            color: var(--text-light);
            padding-top: 1rem;
        }
    }

    // ray
    // animations
    @keyframes fadeInOut {
        0%, 100% { opacity: 0.2}
        50% { opacity: 1; transform: translateY(0); }
    }

    .ray {
        // position: absolute;
        width: 100%;
        // top: 0;
        opacity: 1;
        animation: fadeInOut 5s infinite alternate ease-in-out;

        Image {
            display: block;
            pointer-events: none;
        }
    }

    /* Adding delays to each ray for staggered animation */
    .ray:nth-child(1) { animation-delay: 0s; }
    .ray:nth-child(2) { animation-delay: 0.5s; }
    .ray:nth-child(3) { animation-delay: 1s; }
    .ray:nth-child(4) { animation-delay: 1.5s; }

    //ray
    .rayContainer {
        border: 3px red solid;
        width: 50%;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        top: 2%;

        .ray1 {
            left: -50px;
        }
    }
}
}

@include tablet {
    .container {
        background-color: var(--sea-background);
        padding: 3% 5% 10% 10%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url('/images/landing_page/Caustics.svg');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top center; 
        .imagecontainer {
            // border: 3px red solid;
    
            .bunny {
                width: 100%;
                // padding-right: 10%;
            }
        }
    
        .textcontainer {
            // border: 3px white solid;
            padding: 10% 5% 0% 0%;
            width: 50%;
            flex-direction: column;
    
            .text {
                font-weight: bold;
                line-height: 1;
                color: var(--text-light);
            }
    
            .coloredtext {
                font-weight: bold;
                line-height: 1;
                color: var(--highlight-blue);
            }
    
            p {
                color: var(--text-light);
                padding-top: 1rem;
            }
        }
    }
}

@include phone {
    .container {
        background-color: var(--sea-background);
        padding: 3% 5% 0% 15%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url('/images/landing_page/Caustics.svg');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top center; 
        flex-direction: column-reverse;
        .imagecontainer {
            // border: 3px red solid;
    
            .bunny {
                width: 100%;
                padding: 15% 0% 0% 15%;
                // margin-left: 10%;
            }
        }
    
        .textcontainer {
            // border: 3px white solid;
            // padding: 10% 10% 0% 0%;
            width: 100%;
    
            .text {
                font-weight: bold;
                line-height: 1;
                color: var(--text-light);
            }
    
            .coloredtext {
                font-weight: bold;
                line-height: 1;
                color: var(--highlight-blue);
            }
    
            p {
                color: var(--text-light);
                padding-top: 1rem;
            }
        }
    }
}

@include sm-phone {
    .container {
        background-color: var(--sea-background);
        padding: 3% 5% 0% 15%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url('/images/landing_page/Caustics.svg');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top center; 
        flex-direction: column-reverse;
        .imagecontainer {
            // border: 3px red solid;
    
            .bunny {
                width: 100%;
                padding: 5% 0% 0% 5%;
                // margin-left: 10%;
            }
        }
    
        .textcontainer {
            // border: 3px white solid;
            // padding: 10% 10% 0% 0%;
            width: 100%;
    
            .text {
                font-weight: bold;
                line-height: 1;
                color: var(--text-light);
            }
    
            .coloredtext {
                font-weight: bold;
                line-height: 1;
                color: var(--highlight-blue);
            }
    
            p {
                color: var(--text-light);
                padding-top: 1rem;
            }
        }
    }
}
