@import '@globals/styles/mixins.scss';

.relative_container{
    position: relative; 
    overflow: hidden;

    .rayContainer {
        display: flex;
        position: absolute;
        align-items: flex-start;
        justify-content: flex-start;
        // width: 100%;
        left: 40%;
        transform: translateX(-50%);
    }  
}

.container {
    background-color: var(--sea-background);
    padding-left: 5%;
    padding-bottom: 15%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/landing_page/Caustics.svg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: top center; 


    .musicContainer {
        left: 0%;
        padding-right: 0%;
        padding-bottom: 55%;
        margin-right: -5%;
        top: 0%;
        display: flex;
        align-items: flex;
        justify-content: flex;
        z-index: 1;
        gap: 2%;
    
        .note1 {
            padding: 2%;
            margin-bottom: 35%;
            animation: float 4s infinite alternate ease-in-out;
            animation-delay: 0s;
        }
    
        .note2 {
            margin-top: 5%;
            animation: float 4s infinite alternate ease-in-out;
            animation-delay: 0.5s;
        }
        
        .note3 {
            margin-left: 5%;
            animation: float 4s infinite alternate ease-in-out;
            animation-delay: 1s;
        }
    
        .note4 {
            margin-top: 60%;
            margin-left: -15%;
            animation: float 4s infinite alternate ease-in-out;
            animation-delay: 1.5s;
        }

        .bunnyContainer {
            display: flex;
        
            .bunny {
                width: 100%;
                padding-right: 5%;
                padding-top: 10%;
                animation: bunnyBob 4s infinite alternate ease-in-out;
                animation-delay: 0.0s;
            }
        }
    } 

    .imagecontainer {
        z-index: 1;
        display: flex;
        flex-direction: row;

        .bunnyContainer {
            display: flex;

            .bunny {
                width: 100%;
                padding-right: 5%;
                padding-top: 10%;
                animation: bunnyBob 4s infinite alternate ease-in-out;
                animation-delay: 0.0s;
            }
        }

    }

    .textcontainer {
        padding: 10% 5% 5% 2%;
        width: 40%;
        flex-direction: column;
        z-index: 1;
        

        .text {
            font-weight: bold;
            line-height: 1;
            color: var(--text-light);
        }

        .coloredtext {
            font-weight: bold;
            line-height: 1;
            color: var(--highlight-blue);
        }

        p {
            color: var(--text-light);
            padding-top: 1rem;
            font-weight: 400;
            line-height: 125%; /* 22.5px */
            letter-spacing: 0.36px;
        }
    }      
}

@include desktop {
    .relative_container{
        position: relative; 
        overflow: hidden;

        .rayContainer {
            display: flex;
            position: absolute;
            align-items: flex-start;
            justify-content: flex-start;
            // width: 100%;
            left: 40%;
            transform: translateX(-50%);
        }  
    }

    .container {
        background-color: var(--sea-background);
        padding-left: 8%;
        padding-bottom: 15%;
        padding-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/images/landing_page/Caustics.svg');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top center; 


        .musicContainer {
            padding-bottom: 60%;
            top: 0%;
            display: flex;
            align-items: flex;
            justify-content: flex;
            z-index: 1;
            gap: 2%;
        
            .note1 {
                padding: 2%;
                margin-bottom: 35%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 0s;
            }
        
            .note2 {
                margin-top: 5%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 0.5s;
            }
            
            .note3 {
                margin-left: 5%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 1s;
            }
        
            .note4 {
                margin-top: 60%;
                margin-left: -15%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 1.5s;
            }

            .bunnyContainer {
                display: flex;

                .bunny {
                    width: 100%;
                    padding-right: 5%;
                    padding-top: 10%;
                    animation: bunnyBob 4s infinite alternate ease-in-out;
                    animation-delay: 0.0s;
                }
            }
        } 
    
        .imagecontainer {
            z-index: 1;
            display: flex;
            flex-direction: row;

            .bunnyContainer {
                display: flex;

                .bunny {
                    width: 100%;
                    padding-right: 5%;
                    padding-top: 10%;
                    animation: bunnyBob 4s infinite alternate ease-in-out;
                    animation-delay: 0.0s;
                }
            }

        }
    
        .textcontainer {
            padding: 10% 10% 5% 0%;
            width: 40%;
            flex-direction: column;
            z-index: 1;
            
    
            .text {
                font-weight: bold;
                line-height: 1;
                color: var(--text-light);
            }
    
            .coloredtext {
                font-weight: bold;
                line-height: 1;
                color: var(--highlight-blue);
            }
    
            p {
                color: var(--text-light);
                padding-top: 1rem;
                font-weight: 400;
                line-height: 125%; /* 22.5px */
                letter-spacing: 0.36px;
            }
        }      
    }
}

// animations
@keyframes fadeInOut {
    0%, 100% { opacity: 0}
    50% { opacity: 100 }
}

.ray:nth-child(1) { animation-delay: 0s; }
.ray:nth-child(2) { animation-delay: 0.5s; }
.ray:nth-child(3) { animation-delay: 1s; }
.ray:nth-child(4) { animation-delay: 1.5s; }

// rays

.ray {
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    width: 17%;
    animation: fadeInOut 5s infinite alternate ease-in-out;
}

.ray1 {
    left: 10%;
    margin-right: -15%;
}
// do this

.ray2 {
    left: 17%;
    margin-right: 0%;
}

.ray3 {
    left: 33%;
    margin-right: 0%;
}

// ignore 
.ray4 {
    left: 49%;
    margin-left: -5%;
}

// music notes

// animations
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

// Move keyframes outside of .bunny
@keyframes bunnyBob {
    0% {
        transform: translate(-12%, 8%);
    }
    50% {
        transform: translate(-12%, calc(8% + 20px));
    }
    100% {
        transform: translate(-12%, 8%);
    }
}

/* Adding delays to each ray for staggered animation */
.note:nth-child(1) { animation-delay: 0s; }
.note:nth-child(2) { animation-delay: 0.5s; }
.note:nth-child(3) { animation-delay: 1s; }
.note:nth-child(4) { animation-delay: 1.5s; }



@include sm-desktop {
    .container {
        background-color: var(--sea-background);
        padding-left: 5%;
        padding-bottom: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/images/landing_page/Caustics.svg');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top center; 

        .bunnyContainer {
            display: flex;

            .bunny {
                width: 100%;
                padding-right: 5%;
                padding-top: 10%;
                animation: bunnyBob 4s infinite alternate ease-in-out;
                animation-delay: 0.0s;
            }
        }
    
        .imagecontainer {
            z-index: 1;
            display: flex;
            flex-direction: row;

            .bunnyContainer {
                display: flex;

                .bunny {
                    width: 100%;
                    padding-right: 5%;
                    padding-top: 10%;
                    animation: bunnyBob 4s infinite alternate ease-in-out;
                    animation-delay: 0.0s;
                }
            }

        }
    
        .textcontainer {
            padding: 10% 10% 5% 0%;
            width: 50%;
            flex-direction: column;
            z-index: 1;
            
    
            .text {
                font-weight: bold;
                line-height: 1;
                color: var(--text-light);
            }
    
            .coloredtext {
                font-weight: bold;
                line-height: 1;
                color: var(--highlight-blue);
            }
    
            p {
                color: var(--text-light);
                padding-top: 1rem;
                font-weight: 400;
                line-height: 125%; /* 22.5px */
                letter-spacing: 0.36px;
            }
        }
    }
}    


@include tablet {
    .relative_container{
        position: relative; 
        overflow: hidden;

        // animations
        @keyframes fadeInOut {
            0%, 100% { opacity: 0}
            50% { opacity: 0 }
}

        .ray {
            position: absolute;
            transform: translateX(-50%);
            opacity: 0;
            width: 17%;
            animation: fadeInOut 5s infinite alternate ease-in-out;
        }
    }

    .container {
        background-color: var(--sea-background);
        padding: 13% 5% 23% 5%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url('/images/landing_page/Caustics.svg');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top center; 

        .imagecontainer {

            .musicContainer {
                top: 0%;
                padding-left: 5%;
                display: flex;
                align-items: flex;
                justify-content: flex;
                z-index: 1;
                gap: 2%;
            }

            .bunnyContainer{
                .bunny {
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    padding-top: 5%;
                    padding-right: 15%;
                    padding-left: 5%;
                    animation: bunnyBob 4s infinite alternate ease-in-out;
                    animation-delay: 0.0s;
                }
            }
        }
    
        .textcontainer {
            // border: 3px white solid;
            padding: 10% 5% 0% 0%;
            width: 50%;
            flex-direction: column;
            z-index: 1;
    
            .text {
                font-weight: bold;
                line-height: 1;
                color: var(--text-light);
            }
    
            .coloredtext {
                font-weight: bold;
                line-height: 1;
                color: var(--highlight-blue);
            }
    
            p {
                color: var(--text-light);
                padding-top: 1rem;
                font-size: .8rem;
            }
        }
    }
}

@include phone {
    .relative_container{
        position: relative; 
        overflow: hidden;

        // animations
        @keyframes fadeInOut {
            0%, 100% { opacity: 0}
            50% { opacity: 0 }
        }

        .ray {
            position: absolute;
            transform: translateX(-50%);
            opacity: 0;
            width: 17%;
            animation: fadeInOut 5s infinite alternate ease-in-out;
        }
    }

    .container {
        background-color: var(--sea-background);
        padding: 15% 5% 25% 15%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url('/images/landing_page/Caustics.svg');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top center; 
        flex-direction: column-reverse;
        .imagecontainer {
            z-index: 1;
            padding-top: 5%;
            padding-right: 27%;
            padding-left: 25%;
            display: flex;
            flex-direction: column;
    
            .bunny {
                margin-top: -15%;
                width: 100%;
                // padding: 0% 0% 35% 20%;
                padding-right: 47%;
                padding-left: 55%;
                padding-bottom: 25%;
                margin-left: 20%;
                animation: bunnyBob 4s infinite alternate ease-in-out;
                animation-delay: 0.0s;
            }
        }
    
        .textcontainer {
            // padding: 10% 10% 0% 0%;
            padding-left: 15%;
            padding-right: 5%;
            width: 100%;
            z-index: 1;
    
            .text {
                font-weight: bold;
                line-height: 1;
                color: var(--text-light);
            }
    
            .coloredtext {
                font-weight: bold;
                line-height: 1;
                color: var(--highlight-blue);
            }
    
            p {
                color: var(--text-light);
                padding-top: 1rem;
                font-size: 1rem;
            }
        }

        // do not edit, this is for the animations + formatting of the music notes
        .musicContainer {
            left: 0%;
            margin-left: -15%;
            margin-bottom: -5%;
            width: 40%;
            padding-bottom: 0%;
            padding-right: 20%;
            padding-left: 10%;
            top: 0%;
            display: flex;
            align-items: flex;
            justify-content: flex;
            z-index: 1;

            .note1 {
                padding: 2%;
                margin-bottom: 135%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 0s;
            }

            .note2 {
                width: 70%;
                margin-top: 100%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 0.5s;
            }
            
            .note3 {
                margin-left: 5%;
                margin-bottom: 7%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 1s;
            }

            .note4 {
                margin-top: 250%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 1.5s;
            }
        }
    }
}

@include sm-phone {
    .relative_container{
        position: relative; 
        overflow: hidden;

        // animations
        @keyframes fadeInOut {
            0%, 100% { opacity: 0}
            50% { opacity: 0 }
}

        .ray {
            position: absolute;
            transform: translateX(-50%);
            opacity: 0;
            width: 17%;
            animation: fadeInOut 5s infinite alternate ease-in-out;
        }
    }

    .container {
        background-color: var(--sea-background);
        padding: 15% 5% 50% 15%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url('/images/landing_page/Caustics.svg');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top center; 
        flex-direction: column-reverse;
        .imagecontainer {
            z-index: 1;
            padding-top: 5%;
            padding-right: 27%;
            padding-left: 15%;
            display: flex;
            flex-direction: column;
    
            .bunny {
                width: 100%;
                // padding: 0% 0% 35% 20%;
                padding-right: 27%;
                padding-left: 15%;
                // margin-left: 10%;
                animation: bunnyBob 4s infinite alternate ease-in-out;
                animation-delay: 0.0s;
            }
        }
    
        .textcontainer {
            padding-left: 0%;
            width: 100%;
            z-index: 1;
    
            .text {
                font-weight: bold;
                line-height: 1;
                color: var(--text-light);
            }
    
            .coloredtext {
                font-weight: bold;
                line-height: 1;
                color: var(--highlight-blue);
            }
    
            p {
                color: var(--text-light);
                padding-top: 1rem;
            }
        }

        // do not edit, this is for the animations + formatting of the music notes
        .musicContainer {
            margin-bottom: -30%;
            width: 37%;
            left: 0%;
            padding-bottom: 0%;
            padding-right: 10%;
            padding-left: 10%;
            top: 0%;
            display: flex;
            align-items: flex;
            justify-content: flex;
            z-index: 1;

            .note1 {
                padding: 2%;
                margin-bottom: 300%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 0s;
            }

            .note2 {
                margin-bottom: 10%;
                width: 70%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 0.5s;
            }
            
            .note3 {
                margin-left: 5%;
                margin-bottom: 187%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 1s;
            }

            .note4 {
                margin-top: 50%;
                animation: float 4s infinite alternate ease-in-out;
                animation-delay: 1.5s;
            }
        }
    }
}
