@import '@globals/styles/mixins.scss';

.container {
    background-image: 
        url('/images/cloud_background/TopClouds.svg'),
        url('/images/cloud_background/Sand.svg'),
        linear-gradient(to bottom, 
            white 0%,   
            white 5%,   
            var(--sky-background) 10%, 
            #D5FCD1 100%, 
        );
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain, contain, cover; /* Clouds: Contain | Sand: Cover | Gradient: Cover */
    background-position: top center, bottom center, center;
    display: flex; 
    align-items: stretch;
    height: 1976px; /* Full screen height */
    width: 100%;
    position: relative;
    margin-top: -5px;

    @include phone {
        background-image: 
        url('/images/cloud_background/TopClouds.svg'),
        url('/images/cloud_background/Sand.svg'),
        linear-gradient(to bottom, 
            white 0%,   
            white 0%,   
            var(--sky-background) 10%, 
            #D5FCD1 100%, 
        );
    }

    .child1 {
        position: absolute;
        left: 0;
        background-image: url('/images/cloud_background/LeftClouds.svg');
        width: 30%;
        height: 85%;
        top: 15%;
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top left; 
        display: flex; 
        align-items: stretch;

        margin: auto 0;
    }

    .child2 {
        position: absolute;
        right: 0;
        background-image: url('/images/cloud_background/RightClouds.svg');
        width: 50%;
        height: 85%;
        top: 15%;
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: top right; 
        display: flex; 
        align-items: stretch;

        margin: auto 0;
    }
}