@import '@globals/styles/mixins.scss';

.container {
    background-color: var(--sky-background);
    background-image: url('/images/cloud_background/TopClouds.svg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: top center; 
    padding-top: 15%;
    // padding-bottom: 15%;s
    border: 3px solid black;
    display: flex; // Ensures children align in a row
    align-items: stretch; // Ensure children stretch to equal height

    .child {
        border: 3px solid red;
        flex: 1; // Makes both children take up equal space
        display: flex; // Ensures images inside are properly aligned
        justify-content: center; // Centers the image
        align-items: center; // Centers the image
    }
}